{% extends "base.html" %} {% block title %} Home - Django App {% endblock %} 
{% block content %}
<h3>Welcome {{ user.username }}!</h3>
<p>This is the home page of your <I>Own Space</I> application.</p>

To view your todo list, please <a href="/todos/">click here</a>.
<h6>Features</h6>
<ul>
  <li>Add Todo Items</li>
  <li>Delete Todo Items</li>
  <li>Mark Todo Items as Completed</li>
  <li>Add Categories with color badges</li>
  <li>Update Todo Items</li>
</ul>

<h6>Upcomming Features</h6>
<ul>
  <li>User Profiles</li>
  <li>Due Dates and Reminders</li>
  <li>Priority Levels</li>
  <li>Reminders</li>
</ul>
{% endblock %}